version: '3'
services:

  mongo:
    image: mongo:latest
    ports:
      - '27017:27017'
    volumes:
      - db-data:/foo

  web:
    image: niceguy420/app:latest
    restart: always
    build: .
    external_links:
      - mongo
    # to start db before web
    depends_on:
      - mongo
    scale: 3

  loadbalancer:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web
    ports:
      - "4000:4000"

volumes:
  db-data: